{% extends 'base.html' %}

{% block content %}

    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="panel-heading">
                    <h1 class="panel-title">Login</h1>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-10">
                <div class="container-fluid">
                    <form  action="" method="post">
                        <div class="container-fluid">
                            <input type="email" class="form-control" placeholder="Email"
                                   aria-label="Email" aria-describedby="basic-addon2" name="email">
                        </div>
                        <!-- Password input -->
                        <div class="container-fluid">
                            <input type="password" class="form-control" placeholder="Password"
                                   aria-label="Password" aria-describedby="basic-addon2" name="password">
                        </div>

                        <!-- Submit button -->
                        <button type="button" class="btn btn-primary btn-block mb-4">Sign in</button>

                    </form>
                </div>
            </div>
        </div>
    </div>

{% endblock %}