{% extends 'base.html' %}

{% block content %}

    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h1 class="panel-title">Colours</h1>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <form class="input-group mb-3" action="" method="post">
                    <input type="text" class="form-control" placeholder="Product code" aria-label="Product code"
                           aria-describedby="basic-addon2" name="code">
                    <div class="input-group-append">
                        <button class="btn btn-outline-secondary" type="submit">Search</button>
                    </div>
                </form>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <div class="container-fluid">
                    <table class="table table-bordered table-hover">
                        <thead class="thead-light">
                        <tr>
                            <th scope="col">Code</th>
                            <th scope="col">Colour</th>
                            <th scope="col">Name</th>
                            <th scope="col">Quantity</th>
                            <th scope="col">Description</th>
                        </tr>
                        </thead>
                        <tbody>
                        {% for item in items %}
                            <tr class="clickable" onclick="window.location.assign( {{ "'{url}'".format(url = url_for('home', _external=True)) }} );">
                                <td>{{ item.code }} </td>
                                <td>{{ item.name }}</td>
                                <td>{{ item.color }}</td>
                                <td>{{ item.quantity }}</td>
                                <td>{{ item.description }}</td>
                            </tr>

                        {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>


{% endblock %}
